
 <%#                                                    %>
 <%# edit.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %> 
<%#                                                      %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>

<% include ../views/partials/header.ejs %>
<body>

  <p> 
      <%= message %>
    <br>
      <%= subTitle %>
    <br>
      <%= documentTitle %>
    <br>
    
  </p>

  <p>
       You're currently on the:  
        <%= currentPage %> Page 
  </p>
<h1>Edit an order</h1>
<form action="<%= `/edit/:id?_method=POST` %>" id="editForm" method="POST">
<br>
<select name="prodList" form="prodForm">
  <option value="prodName4">Product1</option>
  <option value="prodName4">Product2</option>
  <option value="prodName4">Product3</option>
  <option value="prodName4">Product4</option>
</select>

 <input type="number" name="quantity" id="quantity" value="1" maxlength="9">
 <input type="submit" value="Save changes" />
</form>

  </div>

</td>

</table>


</html>
<% include ../views/partials/footer.ejs %>

