
 <%#                                                    %>
 <%# show.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
<% include ../partials/header.ejs %>
 <h1>You're currently Viewing the Cart for Order number:  <%= orders.id %></h1>

<!-- turn this into a table -->
 <p> <%= orders.productid %></p>
 <p> <%= orders.quantity %></p>
<br>

<button type="submit" class="stripe-button-el" style="visibility: visible;"><span style="display: block; min-height: 30px;">Pay with Card</span></button>
    <div class="deleteOrder">
          <form id="deleteForm" action="/orders/<%= orders.id %>?_method=DELETE"  method="POST">
            <input type="submit" value="Cancel">
          </form>
    </div>
 <form id="updateOrdeForm" action="/orders/<%= orders.id %>/edit"  method="GET">
<input type="submit" value="Update"> </form> 


<% include ../partials/footer.ejs %>

