
 <%#                                                    %>
 <%# show.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
  <% include ../partials/header.ejs %>

<div class="col-3 col-m-12">
  <div class="aside">
 <h4>Orders</h4>  

<table id="ordersTable">
        <tr id="ordersHeader">
           <th>Order ID</th><th>ProdId</td><th>Name</th><th>Quantity</th><th>Price</th><th>Total</th>
        </tr>
           <tr>
             <td id="orderIdCell"><a href="/orders/<%= orders.id %>"><%= orders.id  %></a></td>
             <td id="productIdCell"><a href="/orders/<%= orders.productid %>"><%= orders.productid %></a></td>
             <td id="nameCell"><%= orders.name %></td>
             <td id="quantityCell"><%= orders.quantity %></td>
             <td id="priceCell"><%= orders.price %></td>
             <td id="totalCell"><%= orders.quantity * orders.price %> </td>
<tr>
  <td colspan="3">   
<div id="updateOrder">
<form id="updateOrderForm" action="<%= `/orders/edit/orders.id?_method=PATCH` %>"  method="PATCH">
UserId:
    <select id="UIdUp" name="UIdUp" form="updateForm">
      <option value="1">U1</option>
      <option value="2">U2</option>
    </select>
<br>
Product:
    <select id="produIdUp" name="produIdUp" form="updateForm">
      <option value="1">customPi</option>
      <option value="2">nintenPi</option>
    </select>
<br>
Quantity:
    <input type="number" name="quantUpdate"  value="1" maxlength="9">
    <input type="submit" value="Update">
</form>
</div>

</td>
</tr>

</table>
  </div>
</div>
          <% } %>
</div>

<% include ../partials/footer.ejs %>
