
 <%#                                                    %>
 <%# show.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
<% include ../partials/header.ejs %>

<div class="col-6 col-m-9">
 <h1>You're currently Viewing the Cart for Order number:  <%= orders.id %></h1>
<h4>Orders</h4>  
<table id=orderTable>
   <tr id="ordersHeader">
      <th>Product  ID</th><th>Name</th><th>Quantity</th><th>Price</th><th><strong>Total</strong></th>
   </tr>
      <tr>
        <td id="productIdCell"><a href="/orders/<%= orders.productid %>"><%= orders.productid %></a></td>
        <td id="nameCell"><a href="/products/<%= orders.productid %>"></a><%= orders.name %></td>
        <td id="quantityCell"><%= orders.quantity %></td>
        <td id="priceCell"><%= orders.price %></td>
        <td id="totalCell"><%= orders.quantity * orders.price %> </td>
</table>
<div class="deleteOrder">
    <form id="deleteForm" action="/orders/<%= orders.id %>?_method=DELETE"  method="POST">
      <input type="submit" value="Cancel">
    </form>
</div>

<div class="updateForm">
    <form id="updateOrdeForm" href="/orders/<%= orders.id %>/edit?_method=PATCH"  method="POST">
      <input type="submit" value="Update">
    </form>
</div>


<% include ../partials/footer.ejs %>

