 <%#                                                    %>
 <%# new.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %> 
<%#                                                      %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
<#% include ../../views/header.ejs %>
<body>

  <p> 
      <%= message %>
    <br>
 </p>

  <p>
       You're currently on the:  
        <%= currentPage %> Page 
  </p>

  <p>
      <%= documentTitle %>
  </p>


    <h4>Orders</h4>  
      <a href="/orders/new">Place an Order</a>

      <div class="order">
   </h4>

<h1>new a order</h1>
<form action="<%= `/orders/new?_method=POST` %>" id="createForm">
  OrderNumber:<input type="text" name="orderNumCreateForm" value="<%= orders.productid %>">
  <input type="submit">
</form>
<br>
<select name="prodList" form="prodForm">
  <option value="prodName4">Product1</option>
  <option value="prodName4">Product2</option>
  <option value="prodName4">Product3</option>
  <option value="prodName4">Product4</option>
</select>
 <input type="number" name="quantity" id="quantity" value="1" maxlength="9">

<form action="<%= `/orders/new?_method=POST` %>" method="POST">
  <label for="quantity">quantity</label>
  <input id="quantity" type="text" name="quantity" value="<%= orders.quantity %>" />

  <br />

  <label for="productId">productId</label>
  <input id="productId" type="text" name="productId" value="<%= orders.productId %>" />

  <br />

  <input type="submit" value="Save changes" />
</form>

  </div>



<#% include ../../views/footer.ejs %>

