
 <%#                                                    %>
 <%# show.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
<#% include ../../views/header.ejs %>

<h1><%= products.price %></h1>
<p><%= products.productId %></p>
<p><%= products.quantity %></p>

<a href="/products">Back to all products</a>
<a href="<%= `/products/${products.id}/edit` %>">
  Edit products.
</a>

<form action="<%= `/products/${products.id}?_method=DELETE` %>" method="POST">
  <input type="submit" value="Delete" />
</form>
<#% include ../../views/footer.ejs %>


