 <%#                                                    %>
 <%# index.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
<% include ../views/partials/header.ejs %>
<div>you're past orders

</div>

<div class="col-3 col-m-12">
  <div class="aside">
 <h4>Orders</h4>  

<table id="ordersTable">
        <tr id="ordersHeader">
           <th>Order ID</th><th>ProdId</td><th>Name</th><th>Quantity</th><th>Price</th><th>Total</th>
        </tr>

          <% for (var i = 0; i < orders.length; i++) { %>

           <tr>
             <td id="orderIdCell"><a href="/orders/<%= orders[i].id %>"><%= orders[i].id  %></a></td>
             <td id="productIdCell"><a href="/orders/<%= orders.productid %>"><%= orders[i].productid %></a></td>
             <td id="nameCell"><%= orders[i].name %></td>
             <td id="quantityCell"><%= orders[i].quantity %></td>
             <td id="priceCell"><%= orders[i].price %></td>
             <td id="totalCell"><%= orders[i].quantity * orders[i].price %> </td>
<tr>
  <td colspan="3">   
<div id="updateOrder">
<form id="updateOrderForm" action="/orders/edit/<%= orders[i].id %>?_method=PATCH"  method="PATCH">
UserId:
    <select id="UIdUp" name="UIdUp" form="updateForm">
      <option value="1">U1</option>
      <option value="2">U2</option>
    </select>
<br>
Product:
    <select id="produIdUp" name="produIdUp" form="updateForm">
      <option value="1">customPi</option>
      <option value="2">nintenPi</option>
    </select>
<br>
Quantity:
    <input type="number" name="quantUpdate"  value="1" maxlength="9">
    <input type="submit" value="Update">
</form>
</div>

</td>
</tr>

          <% } %>
</table>
  </div>
</div>

<div class="col-6 col-m-9">
<h1>Place new a order</h1>

<form action="<%= `/orders/new?_method=POST` %>" id="createForm" method="POST">
UserId:
<select id="u_id" name="u_id" form="createForm">
  <option value="1">testuser1</option>
  <option value="2">testuser2</option>
</select>
<br>
product:
<select id="productid" name="productid" form="createForm">
  <option value="2">nintenPi</option>
  <option value="1">customPi</option>
</select>
 quantity:
 <input type="number" name="quantity" id="quantity" value="1" maxlength="9">
 <input type="submit" value="Save changes" >
</form></div>


</div>

<% include ../views/partials/footer.ejs %>
