 <%#                                                    %>
 <%# index.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
<% include ../views/partials/header.ejs %>
<body>

  <p> 
      <%= message %>
    <br>
      <%= subTitle %>
    <br>
      <%= documentTitle %>
    <br>
    
  </p>

  <p>
       You're currently on the:  
        <%= currentPage %> Page 
  </p>

  <h4>Orders</h4>  
      <table>
         <tr>
            <th>Order ID</th><th>Quantity</th><th>Amount</th>
         </tr>

           <% for (var i = 0; i < orders.length; i++) { %>
            <tr>
              <td><%= orders[i].id %></td>
              <td><%= orders[i].quantity %></td>
              <td><%= orders[i].amount %></td>
        <td><form action="/charge" method="POST">
          <article >
          <label for="">Amount <%# = products.price %> </label>
          </article>
      <script class="stripe-button active"src="//checkout.stripe.com/v2/checkout.js" data-locale="auto" data-description="SAMPLE CHAGE" data-amount="500"></script>
          <button type="submit" class="stripe-button-el" style="visibility: visible;">Pay with Card</button>
          </td >
            </tr>    
           <% } %>
</table>
      <form action=""></form>
      <form action=""></form>
      <form class="deleteOrder" action=""></form>
      <a href="/orders/new">Place an Order</a>
      <a href="orders/update">Update an Order</a>

</html>
<% include ../views/partials/footer.ejs %>

