 <%#                                                    %>
 <%# index.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
<% include ../views/partials/header.ejs %>
<body>

  <p> 
      <%= message %>
    <br>
      <%= subTitle %>
    <br>
      <%= documentTitle %>
    <br>
    
  </p>

  <p>
       You're currently on the:  
        <%= currentPage %> Page 
  </p>

  <h4>Orders</h4>  
      <table>
         <tr>
            <th>Order ID</th><th>Quantity</th><th>Amount</th><th>checkout</th>
         </tr>

           <% for (var i = 0; i < orders.length; i++) { %>
            <tr>
              <td><%= orders[i].id %></td>
              <td><%= orders[i].quantity %></td>
              <td><%= orders[i].amount %></td>
         <td>
    <div class="deleteOrder">
          <form id="deleteForm" action="/orders/<%= orders[i].id %>?_method=DELETE"  method="POST">
            <input type="submit" value="Cancel">
          </form>
    </div>

    <form id="updateOrdeForm" href="/orders/<%= orders[i].id %>/edit?_method=PATCH"  method="POST">
      <input type="submit" value="Update">
    </form>

</td>

           <% } %>
    </table>


</html>
<% include ../views/partials/footer.ejs %>

