 <%#                                                    %>
 <%# index.ejs                                            %>
 <%# Copyright (C) 2018 t0m <t0m@asuntu>               %>
 <%#                                                    %>
 <%# Distributed under terms of the MIT license.  %>
 <%#                                                    %>
<% include ../views/partials/header.ejs %>
<body>
   <p> 
      <%= message %>
    <br>
  </p>
 <h4>Orders</h4>  
      <table id="ordersTable">
         <tr id="ordersHeader">
            <th>Order ID</th><th>Name</th><th>Quantity</th><th>Price</th><th>Total</th>
         </tr>

           <% for (var i = 0; i < orders.length; i++) { %>
            <tr>
              <td id="orderIdCell"><%= orders[i].id %></td>
              <td id="nameCell"><%= orders[i].name %></td>
              <td id="quantityCell"><%= orders[i].quantity %></td>
              <td id="priceCell"><%= orders[i].price %></td>
              <td id="totalCell"><%= orders[i].quantity * orders[i].price %> </td>
              <td>
    <div class="deleteOrder">
          <form id="deleteForm" action="/orders/<%= orders[i].id %>?_method=DELETE"  method="POST">
            <input type="submit" value="Cancel">
          </form>
    </div>

    <form id="updateOrdeForm" href="/orders/<%= orders[i].id %>/edit?_method=PATCH"  method="POST">
      <input type="submit" value="Update">
    </form>

</td>

           <% } %>
    </table>


  <p> 
      <%= message %>
    <br>
      <%= subTitle %>
    <br>
      <%= documentTitle %>
    <br>
    
  </p>

  <p>
       You're currently on the:  
        <%= currentPage %> Page 
  </p>

      <%= subTitle %>
    <br>
      <%= documentTitle %>
    <br>
    
  </p>

  <p>
       You're currently on the:  
        <%= currentPage %> Page 
  </p>



<% include ../views/partials/footer.ejs %>

